#index-intro{margin-top:0;padding-top:0;color:#fff;margin-bottom:2em;background:url(img/index-banner.jpg) center bottom;background-size:cover}
#index-category{text-align:center}
#index-category a{font-size:.8em;color:#000}
#index-category a:hover{box-shadow:0 2px 5px rgba(0,0,0,.1)}
#index-category img{width:40%;margin:auto}
.index-h1{height:500px;text-align:center;align-items:center;justify-content:center;flex-direction:column;display:flex;direction:rtl}
.index-h1 h1{font-size:3em;padding-bottom:0}
@media (max-width:390px){
.index-h1 h1{font-size:2em}
}
@media (min-width:700px) and (max-width:800px){
.index-h1 h1{font-size:2em}
}
.index-h1 h3{color:#d8d8d8}
.index-items{text-align:center}
.index-items article>div{height:300px}
.index-items img{width:80%;height:100%;object-fit:contain}
.index-info{text-align:center}
.index-info h2{display:inline-block;position:relative}
.index-info h2::after{width:100%;height:3px;position:absolute;bottom:0;left:0;content:'';background:#0e0e5b;background:linear-gradient(28deg,#210762 0,#0c40f3 100%);border-radius:5px}
.web-design{background:#f7f7f7}
.web-design img{width:100%}
.web-design-title{display:flex;justify-content:center;flex-direction:column;align-items:flex-start}
.web-design-title h2{font-size:2em;width:70%}
.web-design h3{color:#0d44fb}
.seo{background:#00c31f}
.seo h2{font-size:2em;color:#fff}
.seo h3{color:#f0525f;font-size:2em;padding:0}
.seo h4{color:#fff;margin:0;padding:0}
.seo img{width:100%}
.customer{text-align:center;border-top:1px solid #f4f4f4}
.customer h2{position:relative;display:inline-block}
.customer h2::after{width:100%;height:3px;position:absolute;bottom:0;left:0;content:'';background:#0e0e5b;background:linear-gradient(28deg,#210762 0,#0c40f3 100%);border-radius:5px}
.customer .items{display:flex;flex-direction:row;justify-content:center;flex-wrap:wrap}
.customer .items img{height:80px}
.package h2{position:relative;display:inline-block;}
.package h2::after{width:100%;height:3px;position:absolute;bottom:0;left:0;content:'';background:#0e0e5b;background:linear-gradient(28deg,#210762 0,#0c40f3 100%);border-radius:5px}
.package img{height: 150px;}
@media (max-width:700px){
    .web-design-title h2{width: 100%;}
    .web-design-title{ align-items:center}
}
