/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea/workspace.xml
.idea/tasks.xml
.idea
.idea/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/socket/config.inc.php
/storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

