/node_modules
/public/hot
/public/upload/images/*
!/public/upload/images/company/
/public/upload/images/company/*

/public/upload/_thumbs/*
/storage/*.key
/vendor
.env
.idea/workspace.xml
.idea/tasks.xml
.idea
.idea/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

public/*.xml
.DS_Store
.vscode/settings.json
