$template: corepo;
$body: #f4f4f4;
$body-font-size: 14px;
$theme-color1: #fff;
$theme-color2: #fff;
$theme-color3: #9b0909;
$theme-color1-text: #fff;

$a: #9b0909;
$a-hover: #1e2135;

$menu-color: #1e2135;
$menu-bg-left: #fff;
$menu-bg-right: #fff;
$menu-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
$p: #1e1e1e;

$search-border: 1px solid #888;
$search-bg: #888;
$search-text: rgb(100, 100, 100);

$pink: #e81e6c;
$h2-font-size: 1.2em;
$h2-color: #d35400;

@import "app.scss";
@import "grid.scss";
@import "nav.scss";

@import "nav-mega-menu.scss";

@import "font-icon.scss";


input,
textarea {
    border: 0;
    border: 1px solid #ccc;
}
input:focus,
textarea:focus {
    border: 1px solid #ccc;
}

.content-detail > .flex {
    width: 100%;
}
.content-detail > .flex > div > div {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
}
.category-content > div {
    background-color: #fff;
    border-radius: 15px;
    padding: 1em;
}
//////////
//////////
// home //
//////////
//////////

.index-items {
    figure.image {
        max-width: 70%;
    }
}

article {
    background: #fff;
    color: #222;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    // min-height: 412px;
    height: 100%;
    display: flex;
    flex-direction: column;
    figure img {
        border-radius: 10px;
        width: auto;
    }
    .title {
        color: #000;
        font-weight: 700;
        display: block;
    }
}

.articles-home {
    article {
        flex-flow: row wrap;
        min-height: auto;
        align-items: center;
        text-align: inherit;

        .title {
            flex: 1 0 100%;
        }
        .image {
            flex: 0 1 20%;
        }
        .info {
            flex: 1 1 70%;
            padding: 0 1em;
            overflow: hidden;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .info p {
            display: inline-block;
        }
    }
}
.banner-left > div {
    height: 190px;
}
figure {
    width: 100%;
}
.banner-left img {
    height: 100% !important;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.slideshow-container {
    position: relative;
}
.mySlides {
    display: none;
    height: 100%;
    position: relative;
}
.mySlides img {
    object-fit: cover;
    height: 100% !important;
    border-radius: 20px;
    width: 100% !important;
}
.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 15px 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
    user-select: none;
}
.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
.next:hover,
.prev:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.active,
.dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (max-width: 500px) {
    .banner-left {
        display: none;
    }
}
@media only screen and (max-width: 300px) {
    .next,
    .prev,
    .text {
        font-size: 11px;
    }
}
@media only screen and (max-width: 1210px) {
    .mySlides {
        height: 100%;
    }
}

////////////////
////////////////
// category-box
////////////////
////////////////
.category-box {
    color: #333;
    h2,
    h3 {
        a {
            color: $pink;
        }
        // font-size: 1em;
    }
    a {
        font-size: 1.1em;
        color: $a-hover;
        font-weight: bold;
        &:hover {
            color: $a;
        }
    }
    img {
        // max-height: 70px;
        object-fit: contain;
    }
    .rate {
        min-height: 10px;
        // display: flex;
        label {
            cursor: default;
            // height: 20px;
            &:before {
                font-size: 1.1em;
            }
        }
    }
    .full-height {
        height: 100%;
    }
    .min-height {
        // min-height: 120px;
    }
    .border-bottom {
        border-bottom: 1px solid #ddd;
    }
}

.application article {
    min-height: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    figure img {
        width: 100px;
    }
    :last-of-type {
        margin-top: auto;
    }
}

//////////////
//////////////
// category //
//////////////
//////////////

.category-section {
    // position: relative;
    img {
        height: 40px !important;
        width: 40px;
    }
    h2,
    h3 {
        font-size: 0.9em;
    }
    .next2,
    .prev2 {
        position: absolute;
        width: auto;
        background: rgba(0, 0, 0, 0.05);
        padding: 0 0.5em;
        color: #717171;
        font-size: 23px;
        font-weight: 700;
        cursor: pointer;
        top: 50%;
        margin-top: -20px;
        user-select: none;
    }
    .next2 {
        left: 0;
        border-radius: 0 5px 5px 0;
    }
    .prev2 {
        right: 0;
        border-radius: 5px 0 0 5px;
    }
}

//////////////
//////////////
//  detail ///
//////////////
//////////////
.intro {
    background: #fff;
    border-radius: 15px;
    .rate label {
        cursor: unset;
        // height: 31px;
    }
    .third-500 {
        display: flex;
        align-items: flex-start;
        h1 {
            padding: 0 !important;
        }
    }
    figure {
        float: right;
        flex: 1;
        display: block;
        img {
            border-radius: 15px;
            // width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
    .third-500 > div:last-child {
        flex: 2;
    }
}



//////////////
//////////////
//  footer ///
//////////////
//////////////
.footer-links{
    ul{
        list-style: none;
        padding: 0;
        li{
            padding: 0;
            a{
                font-size: .8em;
            }
        }
    }
}

@media (max-width: 500px) {
    .intro figure {
        margin: 0;
        width: 100%;
        img {
            margin: 0;
            width: 100%;
            height: auto;
        }
    }
    #detail h1 {
        font-size: 1.3em;
    }
}
