$template: darbkala;
$body: #f4f4f4;
$theme-color1: #fa490e;
$theme-color2: rgba(255, 136, 45, 1);
$theme-color3: #ea1c44;
$a: #d13501;
$a-hover: #1e2135;

$menu-color: #fff;
$menu-bg-left:rgba(255, 136, 45, 1);
$menu-bg-right:#fa490e;
$menu-shadow:0 3px 10px rgba(0, 0, 0, 0.2);

@import "app.scss";
@import "grid.scss";
@import "nav.scss";

//////////////
//pagination//
//////////////
nav[role="navigation"] {
    display: flex;
    direction: ltr;
}
nav[role="navigation"] > :not(.hidden) {
    display: none;
}
nav[role="navigation"] p {
    margin: 0;
    padding: 0;
}
nav[role="navigation"] .hidden {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
nav[role="navigation"] .justify-between {
    justify-content: space-between;
    float: 1 1 0;
}
nav[role="navigation"] .w-5 {
    width: 1.25rem;
    height: 1.25rem;
}
nav[role="navigation"] span {
    display: inline-flex;
}
nav[role="navigation"] a {
    --tw-space-x-reverse: 0;
    display: inline-flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
nav[role="navigation"] span > span > span {
    border: none;
    color: #ccc;
    margin-right: calc(-1px * var(--tw-space-x-reverse));
    margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
    display: inline-flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
nav[role="navigation"] span > * {
    margin-right: calc(-1px * var(--tw-space-x-reverse));
    margin-left: calc(-1px * calc(1 - var(--tw-space-x-reverse)));
}
nav[role="navigation"] span > svg {
    border: none;
}

@media all and (max-width: 960px) {
    nav {
        height: 5em;
        width: auto;
        position: relative;
    }
    .intro {
        margin: 1em auto 1em !important;
        padding: 1em 0 0;
    }
    .hero {
        background-attachment: scroll;
    }
    .pseudo.button:hover {
        border: none;
    }
}

.products article {
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 100%;
}
.products article h2 {
    font-weight: 700;
    font-size: 0.9em;
}
.products article p {
    font-size: 0.75em;
}
.products article > div {
    // height: 450px;
    overflow: hidden;
}
.products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articles article {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    height: 100%;
}
.articles article h2 {
    font-weight: 700;
    font-size: 0.9em;
    min-height: 5em;
    margin-bottom: 0;
}
.articles article p {
    font-size: 0.75em;
    margin-top: 0;
    min-height: 8em;
}
.articles article > div {
    height: 150px;
}
.articles article:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.articles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.articles footer {
    padding: 1em;
}

#index-intro {
    margin-top: 0;
    padding-top: 0;
    color: #fff;
    margin-bottom: 2em;
    background: url(/img/index-banner.jpg) center bottom;
    background-size: cover;
}
#index-comment {
    color: #fff;
    padding: 2em;
    text-align: center;
    background: #fa490e;
    background: linear-gradient(90deg, rgba(250, 73, 14, 1) 0, rgba(255, 136, 45, 1) 100%);
}
#index-category {
    text-align: center;
}
#index-category a {
    font-size: 0.8em;
    color: #000;
}
#index-category a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#index-category img {
    width: 40%;
    margin: auto;
}
.index-h1 {
    height: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    direction: rtl;
}
.index-h1 h1 {
    font-size: 3em;
}
@media (max-width: 390px) {
    .index-h1 h1 {
        font-size: 2em;
    }
}
@media (min-width: 700px) and (max-width: 800px) {
    .index-h1 h1 {
        font-size: 2em;
    }
}
.index-h1 h3 {
    color: #d8d8d8;
}
.index-items {
    text-align: center;
    margin-top: 0;
}
.index-items h3 {
    color: #333;
    font-size: 1em;
}
.index-items footer {
    color: #333;
}
.index-items footer {
    height: 8em;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
.index-items img {
    // width: 60%;
    // height: 100%;
    // object-fit: cover;
}
.index-items a {
    display: block;
    padding-bottom: 1em;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.index-items.articles {
    a {
        padding: 0;
        display: flex;
        height: 100px;
        align-items: center;
        div {
            height: 100%;
            img {
                height: 100%;
                object-fit: cover;
                width: 80px;
            }
        }
    }

    h3 {
        font-size: 1em;
    }
    footer {
        height: auto;
        padding: 0 1em;
        font-size: 0.9em;
    }
}

.index-item-top img {
    object-fit: contain;
    width: 100%;
    height: 150px !important;
}
.index-item-top h2 {
    font-size: 0.8em;
}
.home-top-view .rate {
    display: flex;
    justify-content: center;
}
.home-top-view .rate img {
    width: 20px;
}
@media (max-width: 600px) {
    .home-top-view .rate {
        position: relative;
        left: auto;
        top: auto;
    }
    .home-top-view .rate {
        width: 100%;
    }
}

.category-list article {
    display: inline-block;
}
.category-list article > div {
    width: 300px;
    height: 200px;
    float: right;
}
.category-list article > div > img {
    object-fit: contain;
}
.category-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-list div.border {
    border: 1px solid #f4f4f4;
}
.category-list div.hover-box:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.category-list div.height-full {
    display: flex;
}
.category-list p {
    color: #616161;
}
.category-list .price {
    font-weight: 700;
}
.height-100 {
    height: 100%;
}
.category-products {
    a {
        color: #000;
    }
    article {
        position: relative;
        display: flex;
        border: 1px solid #f4f4f4;
        height: 100%;
        flex-direction: row;
        justify-content:center;
        padding: .5em;

        .info{
            flex: 2;
            padding: 0 1em;
        }

        picture img {
            border-radius: 3px;
            object-fit: contain;

        }
        h2 {
            font-size: 1em;
            color: $theme-color1;
        }
        .company-logo {
            display: flex;
            align-items: center;
            background-color: #eee;
            padding: 5px 10px;
            border-radius: 50px;
            font-size: .8em;

            > * {
                margin-left: 1em;
            }
        }
        .brief {
            font-size: 0.75em;
        }
        .view-count {
            border: 1px solid #616161;
            color: #616161;
            min-width: 30px;
            text-align: center;
            border-radius: 15px;
            padding: 0 10px;
            font-size: 0.8em;
            background-color: #fff;
        }
        .rate {
            display: flex;
            justify-content: center;
            font-size: 12px;
            white-space: nowrap;
            img {
                width: 16px;
            }
        }
        > footer {
            flex: 1;
            display: flex;
            flex-flow: column;
            padding: 0;
            align-items: center;
        }
        .price{
            margin-top: 1em;
        }
    }
}


.product-detail {
    picture img{
        object-fit: contain;
        // height: 100%;
    }
    .company-logo a {
        display: flex;
        align-items: center;
        img {
            margin-left: 1em;
        }
    }
    .rate {
        display: flex;
        margin: auto;
        img{
            width: 20px;
        }
    }
}

@media (max-width: 600px) {
    .category-products article {
        flex-flow: column;
    }
    .category-products article > div {
        width: 100%;
    }
    .category-products .rate,
    .category-products .view-count {
        position: relative;
        left: auto;
        top: auto;
    }
    .category-products .rate {
        width: 100%;
    }
    .mt-1 {
        margin: 0;
    }

    .product-detail .rate,
    .product-detail .view-count {
        position: relative;
        left: auto;
        top: auto;
    }
    .product-detail .rate {
        width: 100%;
        white-space: nowrap;
    }
    h1 {
        font-size: 1.2em;
        text-align: center;
    }
    .flex{
        justify-content: center;
    }
    h2 {
        font-size: 1.2em;
    }
}
.product-detail .top-page {
    display: flex;
    flex-wrap: wrap;
}
.product-detail .top-page > div {
    flex: 1 1 auto;
}
.toc1 a {
    color: #db3600;
}
.ltr {
    direction: ltr;
}
.price {
    color: #048312;
    font-size: 1.1em;
    font-weight: 700;
}
.contact-form fieldset .control {
    margin-bottom: 1em;
}
.mobile-menu {
    display: none;
}

@media (max-width: 1100px) {
    html {
        scroll-behavior: smooth;
    }
    .mobile-menu {
        display: block;
        position: fixed;
        bottom: 0;
        background: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        width: 100%;
        z-index: 9999999;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            z-index: 2;
            li {
                margin: 0;
                flex: 1 1 50%;
                text-align: center;
                a {
                    font-size: 0.9em;
                    padding: 1em;
                    display: block;
                }
            }
        }
    }

    #footer {
        padding-bottom: 60px;
    }
}
