$template: darbkala;
$body: #f8f8f8;
$theme-color1: #928c81;
$theme-color2: rgb(255, 208, 0);
$theme-color3: #c99d4d;
$theme-color1-text: #fff;

$a: #622916;
$a-hover: #1e2135;

$menu-color: #333;
$menu-bg-left: #fff;
$menu-bg-right: #fff;
$menu-shadow: none;
$p: #1e1e1e;

$search-border: 1px solid #888;
$search-bg: #888;
$search-text: rgb(100, 100, 100);

$pink: #e81e6c;

$site-witdth: 1450px; // default:1200px;

$h2-font-size: 1.3em; // default:;
$h2-color: #000; // default: $a

$h3-font-size: 13px; // default:1.7em;
$h3-color: #000; // default: $a
$button-color: black;
$button-bg-color: yellow;

$font-family: vazir2;

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@import "app.scss";
@import "grid.scss";
@import "nav.scss";

@import "nav-mega-menu.scss";

@import "font-icon.scss";

.bg-gray-black {
    background-color: #111;
    color: #fff;
}
.h-auto {
    height: auto;
}
.color-gray {
    color: #333 !important;
}
.text-green {
    color: #048312;
}

////////////////////
//     customer menu     //
////////////////////
.customer-menu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto 1em;
    background-color: #f4f4f4;
    padding: 5px 1em;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
    span {
        cursor: pointer;
    }
    .login {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: white;
        padding: 0 1em;
    }
}

////////////////////
//     banner     //
////////////////////
.banner {
    .flex {
        align-items: flex-end;
        justify-content: center;

        h1 {
            position: absolute;
            width: auto;
        }
    }
}

////////////////////
//     HOME     //
////////////////////
.cat1-home {
    background-size: cover;
    background-position: center;
    flex-grow: 1 !important;
}
.cat1-home div {
    background-color: rgba(0, 0, 0, 0);
    min-height: 200px;
    display: flex;
    align-items: flex-end;
}
.cat1-home div h2 {
    font-size: 2em;
    color: #000;
    margin: 0 1em;
}
.home-items {
    flex-wrap: nowrap;
}
.home-items div {
    display: flex;
    flex-direction: column;
    gap: 0 1em;
}
.home-items div span {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

////////////////////
// category siema //
////////////////////
.category-section {
    // position: relative;

    h2,
    h3 {
        font-size: 0.9em;
    }
    .next2,
    .prev2 {
        position: absolute;
        width: auto;
        // background: rgba(0, 0, 0, 0.05);
        padding: 0 0.5em;
        color: #717171;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        top: 50%;
        margin-top: -20px;
        user-select: none;
    }
    .next2 {
        left: 0;
        border-radius: 50px;
    }
    .prev2 {
        right: 0;
        border-radius: 50px;
    }
}

////////////////////////
//  category detail   //
////////////////////////
.overflow-hidden{
    overflow: hidden;
}
.zoom1-3x:hover{
    transition: transform .2s;
    transform: scale(1.3);
}
.zoom1-5x:hover{
    transition: transform .2s;
    transform: scale(1.5);
}
.zoom2x:hover{
    transition: transform .2s;
    transform: scale(2);
}


.ltr {
    direction: ltr;
}
.price {
    color: #048312;
    font-size: 1.1em;
    font-weight: 700;
}

.height-100 {
    height: 100%;
}

@media all and (max-width: 960px) {
    .brand {
        position: absolute;
        left: 0;
        height: 46px;
        z-index: 1;
        img{
            height: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    nav {
        border-top: 1px solid #f1f1f1;
        height: 3em;
        width: auto;
        position: relative;
    }
    .intro {
        margin: 1em auto 1em !important;
        padding: 1em 0 0;
    }
    .hero {
        background-attachment: scroll;
    }
    .pseudo.button:hover {
        border: none;
    }
}

@media (max-width: 600px) {
    .mt-1 {
        margin: 0;
    }

    h1 {
        font-size: 1.2em;
        text-align: center;
    }
    .flex {
        justify-content: center;
    }
    h2 {
        font-size: 1.2em;
    }
    .cat1-home {
        width: 100%;
    }
    picture > img {
        height: auto;
    }
}
@media (max-width: 1100px) {
    html {
        scroll-behavior: smooth;
    }
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
    .home-items div {
        flex-direction: row;
    }
}
