$template: it-times-store;
$body: #fff;
$theme-color1:#f46900 ;
$theme-color2: rgb(17, 196, 41);
$theme-color3: #fff;

$a: #f46900;
$a-hover: #1e2135;

$menu-color: #f46900;
$menu-bg-left:#fff;
$menu-bg-right:#fff;
$menu-shadow:0 1px 0px rgba(0, 0, 0, 0.1);

@import "app.scss";
@import "grid.scss";
@import "nav.scss";

.banner {
    * {
        width: 100%;
    }
}

// .content-detail > .flex {
//     width: 100%;
// }
// .content-detail > .flex > div > div {
//     background-color: #fff;
//     border-radius: 15px;
//     padding: 1em;
// }
// .category-content > div {
//     background-color: #fff;
//     border-radius: 15px;
//     padding: 1em;
// }


article {
    background: #fff;
    color: #222;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    min-height: 412px;
    height: 100%;
    display: flex;
    flex-direction: column;
    figure img {
        border-radius: 10px;
        width: auto;
    }
    .title {
        color: #000;
        font-weight: 700;
        display: block;
    }
}


.category-section {
    position: relative;
    img {
        height: 40px !important;
        width: 40px;
    }
    h3 {
        font-size: 0.9em;
    }
}

.category-section .next2,
.category-section .prev2 {
    position: absolute;
    width: auto;
    background: rgba(0, 0, 0, 0.05);
    padding: 0 0.5em;
    color: #717171;
    font-size: 23px;
    font-weight: 700;
    cursor: pointer;
    top: 43px;
    user-select: none;
}
.category-section .next2 {
    left: 0;
    border-radius: 0 5px 5px 0;
}
.category-section .prev2 {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.application article {
    min-height: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    figure.image {
        width: 70%;
    }
}

//detail
// .intro {
//     background: #fff;
//     border-radius: 15px;
//     .third-500 {
//         display: flex;
//         align-items: flex-start;
//         h1 {
//             padding: 0 !important;
//         }
//     }
//     figure {
//         float: right;
//         flex: 1;
//         display: block;
//         img {
//             border-radius: 15px;
//             width: auto;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
//     .third-500 > div:last-child {
//         flex: 2;
//     }
// }

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 300px) {
}

