@use 'sass:math';


$color-accent: #444;
$color-light: #ffffff;
$color-dark: #2a2a2a;
$color-gray: #ccc;
$menu-link-padding: 20px 25px;
$breakpoint: 950px;
$mega-menu-multiLevel-colWidth: math.div(100,3)  + 0%;
$mobile-menu-back-height: calc(1.9em + 40px);
$mobile-menu-back-offset: calc(0px - (1.9em + 40px));
$menu-mobile-width: 350px;

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//-----------------------------------------//
// ------------------ SHARED STYLES
//-----------------------------------------//
nav {
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        display: block;
        text-decoration: none;
        &:hover,
        &:visited {
            text-decoration: none;
        }
    }
}

.menu-bar {
    background: $color-light;
    display: flex;
}

.menu-link {
    padding: $menu-link-padding;
    background: $color-light;
    color: $color-accent;
    transition: background 0.2s, color 0.2s;
    position: relative;
    z-index: 1;
    font-size: 0.9em;
    &[aria-haspopup="true"] {
        // padding-right: 40px;
        &:after {
            content: "";
            // background-image: url("arrowRight.svg#accent");
            background-image: url("img/arrowLeft.svg");
            background-size: 14px;
            width: 14px;
            height: 14px;
            font-size: 12px;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.mega-menu-header {
    // font-size: 1.1em;
    // text-transform: uppercase;
    font-weight: bold;
    color: darken($color-accent, 5%);
}

.mega-menu {
    background: $color-light;
    z-index: 10;
}

.mega-menu--multiLevel {
    flex-direction: column;
}

// ------------------ MEDIA QUERIES
$breakpointPlus: $breakpoint + 1px;
@media all and (min-width: $breakpointPlus) {
    //-----------------------------------------//
    // Desktop only
    //-----------------------------------------//

    // .nav-mega {
    //     // margin-top: 50px;
    //     // background: $color-light;
    //     > nav {
    //         max-width: 900px;
    //         margin: 0 auto;
    //     }
    // }

    .menu {
        [aria-haspopup="true"] {
            ~ ul {
                display: none;
            }
        }
    }

    .menu-bar {
        position: relative;
        > li {
            > [aria-haspopup="true"] {
                // STYLING: Down arrow on desktop
                &:after {
                    background-image: url("img/arrowBottom.svg");
                    // background-image: url("img/arrow-down.png");
                }
                &:hover {
                    &:after {
                        // fill: '#fff';
                        background-image: url("img/arrowTop.svg#light");
                    }
                }

                // FUNCTIONALITY: Open mega menu
                &:hover {
                    ~ ul {
                        display: flex;
                        transform-origin: top;
                        animation: dropdown 0.2s ease-out;
                    }
                }
                // FUNCTIONALITY: Keep mega menu open
                ~ ul {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                    &:hover {
                        display: flex;
                    }
                }
            }

            // FUNCTIONALITY: Keep mega menu open
            // &:focus-within {
            //     > [aria-haspopup="true"] {
            //         ~ ul {
            //             display: flex;
            //         }
            //     }
            // }

            // STYLING: Hover/Active state
            // > [aria-haspopup="true"]:focus,
            // &:focus-within > [aria-haspopup="true"],
            &:hover > a {
                background: $color-accent;
                color: $color-light;
                &:after {
                    // background-image: url("img/arrow-top.png");
                    background-image: url("img/arrowTop.svg#light");
                }
            }
        }
    }

    .mega-menu {
        // LAYOUT: Mega menu
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        // FUNCTIONALITY: Keep mega menu open
        &:hover {
            display: flex;
        }
        a {
            &:hover {
                background: $color-gray;
                color: darken($color-accent, 5%);
            }
        }
    }

    .mega-menu--multiLevel {
        // LAYOUT: Multi level columns
        > li {
            width: $mega-menu-multiLevel-colWidth;
            > [aria-haspopup="true"] {
                ~ ul {
                    left: $mega-menu-multiLevel-colWidth;
                    width: $mega-menu-multiLevel-colWidth;
                    ul {
                        width: 100%;
                        left: 100%;
                    }
                }
            }
        }

        li {
            // FUNCTIONALITY: Opening flyouts
            &:hover {
                > [aria-haspopup="true"] {
                    ~ ul {
                        display: block;
                        transform-origin: left;
                        animation: flyout 0.2s ease-out;
                    }
                }
            }

            // FUNCTIONALITY: Keeping flyouts open
            &:focus-within {
                > [aria-haspopup="true"] {
                    ~ ul {
                        display: block;
                    }
                }
            }

            // STYLING: Flyout link active states
            &:hover,
            &:focus-within {
                > [aria-haspopup="true"],
                > a {
                    background: tint($color-accent, 85%);
                    color: darken($color-accent, 5%);
                }
            }
        }
        [aria-haspopup="true"] {
            ~ ul,
            & {
                border-left: 1px solid #f0f0f0;
                // FUNCTIONALITY: Keeping flyouts open
                &:hover {
                    display: block;
                }
            }
            // LAYOUT: Flyouts
            ~ ul {
                position: absolute;
                top: 0;
                height: 100%;
            }
        }
    }

    // STYLING: Flat mega menu columns
    .mega-menu--flat {
        > * {
            flex: 1;
        }
    }

    // Hide mobile specific elements
    .mobile-menu-trigger,
    .mobile-menu-header,
    .mobile-menu-back-item,
    [hidden-desktop="true"] {
        display: none;
    }
}
//----------------------------------------------//
//     mobile
//----------------------------------------------//
@media all and (max-width: $breakpoint) {
    // .nav-mega {
    //     // padding: 20px;
    //     // position: relative;
    //     // z-index: 1;
    // }

    .mobile-menu-trigger,
    .mobile-menu-header,
    .mobile-menu-back-item {
        display: block;
    }

    .menu-bar,
    .mobile-menu-trigger:focus-within,
    .mobile-menu-trigger:focus {
        // FUNCTIONALITY: Keep menu open
        &:focus-within,&:focus {
            ~ .menu-bg {
                background-color: rgba(0, 0, 0, 0.5);
                position: fixed;
                z-index: 4;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
    .mobile-menu-trigger {
        background: $color-accent;
        color: $color-light;
        border: 0;
        padding: 10px;
        font-size: 1.2em;
        display: flex;
        align-items: center;
        // border-radius: 4px;

        // &:focus ~ .menu-bg{
        //     background-color: rgba(0, 0, 0, 0.5 );
        //     position: fixed;
        //     z-index: 4;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;
        // }
        .hamburger {
            padding: 0 0 0 0.6em;
            display: inline-block;
            span {
                background: $menu-color;
                width: 20px;
                height: 2px;
                display: block;
                border-radius: 4px;
                margin-bottom: 4px;
            }
        }
    }

    .mobile-menu-header {
        order: -1;
        background: grey;
        a {
            padding: $menu-link-padding;
            color: $color-light;
            visibility: visible;
        }
    }

    .menu-bar {
        flex-direction: column;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: -100%;
        height: 100vh;
        width: $menu-mobile-width;
        max-width: $menu-mobile-width;
        max-width: 90%;
        overflow-x: hidden;
        transition: left 0.3s;
        box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.25);
        > li {
            > [aria-haspopup="true"] {
                border-bottom: 1px dashed #bbb;
                ~ ul {
                    display: flex;
                    flex-direction: column;
                    background: $color-light;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    max-height: 100vh;
                    width: 100%;
                    transition: left 0.3s;
                    height: 100%;
                    // Second level
                    > li {
                        > [aria-haspopup="true"] {
                            font-size: 1.2em;
                            ~ ul {
                                a {
                                    padding-left: 40px;
                                }
                                // Third level
                                > li {
                                    > [aria-haspopup="true"] {
                                        ~ ul {
                                            a {
                                                border-bottom: 1px dashed #bbb;
                                                padding-left: 80px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            border-bottom: 1px dashed #bbb;
                        }
                    }
                    [aria-haspopup="true"] {
                        color: $color-dark;
                        &:after {
                            content: "+";
                            background: none;
                            font-size: 1em;
                            font-weight: normal;
                            height: 20px;
                            line-height: 1;
                        }
                        ~ ul {
                            max-height: 0px;
                            transform-origin: top;
                            transform: scaleY(0);
                            transition: max-height 0.1s;
                        }
                    }
                }
            }
        }
    }

    .mega-menu-content {
        padding: $menu-link-padding;
        background: $color-light;
    }

    .mobile-menu-back-item {
        order: -1;
        a {
            background: #ccc;
            color: $color-dark;
            max-height: $mobile-menu-back-height;
            margin-top: $mobile-menu-back-offset;
            pointer-events: none;
            padding-right: 1em;
            &:before {
                content: "";
                width: 14px;
                height: 12px;
                background-image: url("img/arrowRight.svg#default");
                background-size: 14px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }

    //---------------------------------------------------//
    // ------------------------ ALL DEVICES
    //---------------------------------------------------//

    .mobile-menu-trigger {
        // FUNCTIONALITY: Open mobile menu
        &:focus {
            ~ ul {
                left: 0;
            }
        }
    }

    .menu-bar {
        // FUNCTIONALITY: Keep menu open
        &:hover,
        &:focus-within {
            left: 0;
        }
        > li {
            > [aria-haspopup="true"] {
                // FUNCTIONALITY: Open mega menu
                &:focus {
                    ~ ul {
                        left: 0;
                    }
                }
                ~ ul {
                    // STYLING: Back button offset
                    margin-top: $mobile-menu-back-height;

                    // FUNCTIONALITY: Keep mega menu open
                    &:hover,
                    &:focus-within {
                        left: 0;
                    }
                    // FUNCTIONALITY: Open dropdowns
                    [aria-haspopup="true"] {
                        &:focus {
                            ~ ul {
                                max-height: 500px;
                                animation: dropdown 0.3s forwards;
                            }
                        }
                    }
                    // FUNCTIONALITY: Keep dropdowns open
                    li {
                        &:focus-within {
                            > [aria-haspopup="true"] {
                                ~ ul {
                                    max-height: 500px;
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }
            }
            // FUNCTIONALITY: Prevent clicks on link behind back button
            &:focus-within ~ .mobile-menu-header a {
                visibility: hidden;
            }
        }
    }

    // ------------------------ TOUCH DEVICES

    @media (hover: none) {
        // FUNCTIONALITY: Open mobile menu
        .mobile-menu-trigger {
            &:hover {
                ~ ul {
                    left: 0;
                }
            }
        }

        // FUNCTIONALITY: Open mega menu
        .menu-bar {
            > li {
                > [aria-haspopup="true"] {
                    &:hover {
                        ~ ul {
                            left: 0;
                        }
                    }
                    ~ ul {
                        &:hover {
                            left: 0;
                        }
                        // FUNCTIONALITY: Open dropdowns
                        [aria-haspopup="true"] {
                            &:hover {
                                ~ ul {
                                    max-height: 500px;
                                    animation: dropdown 0.3s forwards;
                                }
                            }
                            ~ ul {
                                &:hover {
                                    max-height: 500px;
                                    transform: scaleY(1);
                                }
                            }
                        }
                    }
                }
                &:hover ~ .mobile-menu-header {
                    a {
                        visibility: hidden;
                    }
                }
            }
        }
    }
}

// ------------------ ANIMATIONS

@keyframes dropdown {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes flyout {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}
