//////////
// nav  //
//////////

.top-menu {
    min-height: $theme-color1;
    background: $theme-color1;
    background: linear-gradient(90deg, $menu-bg-left 0, $menu-bg-right 100%);
    box-shadow: $menu-shadow;
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
    // padding: 0 1em;
    .container {
        padding: 0;
        margin: 0 auto;
    }
}
nav.top {
    width: 100%;
    margin: auto;
    // z-index: 10000;
    transition: all 0.3s;
    transform-style: preserve-3d;
    // position: relative;
    display: flex;
    align-items: center;
    // z-index: 2;
    .burger {
        float: left;
        position: relative;
    }
    .hamburger {
        display: block;
        span {
            background: $menu-color;
            width: 21px;
            height: 3px;
            display: block;
            border-radius: 4px;
            margin-bottom: 3px;
        }
    }
    .brand {
        float: right;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
        margin-top: 2px;
        img{
            height: 60px;
        }
        .font-06{
            font-size: 1em;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline-block;
            position: relative;
            margin: 0;
            a {
                padding: 10px 10px 10px 10px;
                display: block;
            }
            li {
                display: block;
                a {
                    color: $menu-color !important;
                    width: 100%;
                    padding: 1em 2em !important;
                    white-space: nowrap;
                    display: block !important;
                    border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
                    text-align: right;
                    transition: all 0.3s !important;
                    font-size: 0.9em !important;
                    &:hover {
                        color: $a-hover !important;
                        font-weight: 700;
                        transform: scale(1.05);
                    }
                }
            }

            ul {
                display: none;
                padding: 0;
                position: absolute;
                background-color: $menu-bg-left;
                border-top: 3px solid $theme-color3;
                border-radius: 10px 10px 10px 10px;
                box-shadow: 1px 0 20px rgba(0, 0, 0, 0.12);
            }
            &.parent {
                a {
                    padding: 10px 10px 10px 30px;
                }
            }
        }
    }
}
.brand {
    flex: 1;
}
// nav.top ul li.parent > div {
// display: none;
// }
nav.top li ul ul {
    right: 100%;
    top: 0;
}
nav.top ul li:hover > ul {
    display: block;
}
nav.top .menu {
    text-align: left;
    margin: auto auto auto 0;
    position: relative;
    top: 1.5em;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}
nav.top .menu a {
    color: $menu-color;
}

nav.top .logo {
    height: 2em;
    margin-right: 0.3em;
}
nav.top .select::after {
    height: calc(100% - 1px);
    padding: 0;
    line-height: 2.4em;
}
nav.top .menu > * {
    margin-right: 0.6em;
}
nav.top .burger {
    display: none;
    position: relative;
}
nav.top .burger:after {
    position: absolute;
    background: url(/img/icons/th-menu.svg) no-repeat;
    height: 1.2em;
    width: 100px;
    content: "";
    top: 0;
    right: 0;
}

@media all and (max-width: 60em) {
    nav.top {
        ul {
            padding: 0;
            margin: 0 !important;
            max-width: none !important;
            li {
                display: block;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                ul {
                    position: relative;
                    border-right: 3px solid $theme-color3;
                    border-top: none;
                    box-shadow: none;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 0;
                    ul {
                        position: relative;
                        left: 0;
                        right: auto;
                    }
                }
                li a {
                    padding: 8px 0.3rem !important;
                    // color: #fff !important;
                }
                a {
                    margin-left: 50px;
                }
            }
        }
    }

    nav.top ul > li.parent a::after {
        display: none;
    }
    nav.top ul li.parent > div {
        display: block;
        background: 0 0;
        position: absolute;
        left: 0;
        top: 0;
        outline: 0;
        z-index: 999999;
    }
    nav.top .burger {
        display: inline-block;
        cursor: pointer;
        margin: 0;

    }
    nav.top .burger ~ .menu,
    nav.top .show:checked ~ .burger {
        position: fixed;
        min-height: 100%;
        top: 0;
        right: 0;
        bottom: -1000em;
        margin: 0;
        transition: all 0.5s ease;
        transform: none;
        background: linear-gradient(90deg, $menu-bg-left 0, $menu-bg-right 100%);
        z-index: 9999;
    }
    nav.top .show:checked ~ .burger {
        color: transparent;
        width: 100%;
        border-radius: 0;
        background: rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
    }
    nav.top .show ~ .menu {
        width: 80%;
        max-width: 300px;
        transform-origin: center right;
        transition: all 0.25s ease;
        transform: scaleX(0);
    }
    nav.top .show ~ .menu > * {
        transform: translateX(100%);
        transition: all 0s ease 0.5s;
    }
    nav.top .show:checked ~ .menu > :nth-child(1) {
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
    nav.top .show:checked ~ .menu > :nth-child(2) {
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    }
    nav.top .show:checked ~ .menu > :nth-child(3) {
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    }
    nav.top .show:checked ~ .menu > :nth-child(4) {
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    }
    nav.top .show:checked ~ .menu > :nth-child(5) {
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
    }
    nav.top .show:checked ~ .menu > :nth-child(6) {
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    }
    nav.top .show:checked ~ .menu {
        transform: scaleX(1);
    }
    nav.top .show:checked ~ .menu > * {
        transform: translateX(0);
        transition: all 0.5s ease-in-out 0.6s;
    }
    nav.top .burger ~ .menu > * {
        display: block;
        margin: 0.3em;
        text-align: right;
        max-width: calc(100% - 0.6em);
    }
    nav.top .burger ~ .menu > a {
        padding: 0.3em 0.9em;
    }
}

@media (max-width: 1200px) {
    .brand,
    .category-nav {
        padding: 0 1em;
    }
    .brand{
        img{
            height: 40px !important;
        }
        .font-06{
            font-size: .6em !important;
        }
    }
}

nav.transparent {
    box-shadow: none;
    background: 0 0;
}
nav.transparent .brand,
nav.transparent .pseudo.button {
    color: inherit;
}
nav.transparent .show:checked ~ .burger {
    color: transparent;
}
