.content {margin-right: 0; margin-left: 200px; direction: ltr;}
.form-control{text-align: unset;}
.header-brand{left: .5em; right: auto;}
.select2-drop{direction: ltr;}
.header-profile{direction: rtl;}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
{float: left !important;}
.center-block{float: none !important;}
#toggleSideBar{right: auto; left: 0;}
.side-left.active{left: 0 !important; right: auto !important;}
.header-profile a{display: block; }
@media (max-width: 1100px)
{
    .content{margin-left: 0;}
    .header-brand{right: 0; left: 50px;}
    .profile-nav > a{padding: 5px 10px !important;}
}
.dropdown-menu.pull-right{left: auto; right: 10px;}

