.flex{display:-ms-flexbox;display:flex;margin-left:-.6em;width:calc(100% + .6em);flex-wrap:wrap;transition:all .3s ease}
.flex>*{box-sizing:border-box;flex:1 1 auto;padding-left:.6em;padding-bottom:.6em}
.flex[class*=eight]>*,.flex[class*=eleven]>*,.flex[class*=five]>*,.flex[class*=four]>*,.flex[class*=nine]>*,.flex[class*=one]>*,.flex[class*=seven]>*,.flex[class*=six]>*,.flex[class*=ten]>*,.flex[class*=three]>*,.flex[class*=twelve]>*,.flex[class*=two]>*{flex-grow:0}
.flex.grow>*{flex-grow:1}
.center{justify-content:center}
.one>*{width:100%}
.two>*{width:50%}
.three>*{width:33.33333%}
.four>*{width:25%}
.five>*{width:20%}
.six>*{width:16.66666%}
.seven>*{width:14.28571%}
.eight>*{width:12.5%}
.nine>*{width:11.11111%}
.ten>*{width:10%}
.eleven>*{width:9.09091%}
.twelve>*{width:8.33333%}
@media all and (min-width:500px){
.one-500>*{width:100%}
.two-500>*{width:50%}
.three-500>*{width:33.33333%}
.four-500>*{width:25%}
.five-500>*{width:20%}
.six-500>*{width:16.66666%}
.seven-500>*{width:14.28571%}
.eight-500>*{width:12.5%}
.nine-500>*{width:11.11111%}
.ten-500>*{width:10%}
.eleven-500>*{width:9.09091%}
.twelve-500>*{width:8.33333%}
}
@media all and (min-width:600px){
.one-600>*{width:100%}
.two-600>*{width:50%}
.three-600>*{width:33.33333%}
.four-600>*{width:25%}
.five-600>*{width:20%}
.six-600>*{width:16.66666%}
.seven-600>*{width:14.28571%}
.eight-600>*{width:12.5%}
.nine-600>*{width:11.11111%}
.ten-600>*{width:10%}
.eleven-600>*{width:9.09091%}
.twelve-600>*{width:8.33333%}
}
@media all and (min-width:700px){
.one-700>*{width:100%}
.two-700>*{width:50%}
.three-700>*{width:33.33333%}
.four-700>*{width:25%}
.five-700>*{width:20%}
.six-700>*{width:16.66666%}
.seven-700>*{width:14.28571%}
.eight-700>*{width:12.5%}
.nine-700>*{width:11.11111%}
.ten-700>*{width:10%}
.eleven-700>*{width:9.09091%}
.twelve-700>*{width:8.33333%}
}
@media all and (min-width:800px){
.one-800>*{width:100%}
.two-800>*{width:50%}
.three-800>*{width:33.33333%}
.four-800>*{width:25%}
.five-800>*{width:20%}
.six-800>*{width:16.66666%}
.seven-800>*{width:14.28571%}
.eight-800>*{width:12.5%}
.nine-800>*{width:11.11111%}
.ten-800>*{width:10%}
.eleven-800>*{width:9.09091%}
.twelve-800>*{width:8.33333%}
}
@media all and (min-width:900px){
.one-900>*{width:100%}
.two-900>*{width:50%}
.three-900>*{width:33.33333%}
.four-900>*{width:25%}
.five-900>*{width:20%}
.six-900>*{width:16.66666%}
.seven-900>*{width:14.28571%}
.eight-900>*{width:12.5%}
.nine-900>*{width:11.11111%}
.ten-900>*{width:10%}
.eleven-900>*{width:9.09091%}
.twelve-900>*{width:8.33333%}
}
@media all and (min-width:1000px){
.one-1000>*{width:100%}
.two-1000>*{width:50%}
.three-1000>*{width:33.33333%}
.four-1000>*{width:25%}
.five-1000>*{width:20%}
.six-1000>*{width:16.66666%}
.seven-1000>*{width:14.28571%}
.eight-1000>*{width:12.5%}
.nine-1000>*{width:11.11111%}
.ten-1000>*{width:10%}
.eleven-1000>*{width:9.09091%}
.twelve-1000>*{width:8.33333%}
}
@media all and (min-width:1100px){
.one-1100>*{width:100%}
.two-1100>*{width:50%}
.three-1100>*{width:33.33333%}
.four-1100>*{width:25%}
.five-1100>*{width:20%}
.six-1100>*{width:16.66666%}
.seven-1100>*{width:14.28571%}
.eight-1100>*{width:12.5%}
.nine-1100>*{width:11.11111%}
.ten-1100>*{width:10%}
.eleven-1100>*{width:9.09091%}
.twelve-1100>*{width:8.33333%}
}
@media all and (min-width:1200px){
.one-1200>*{width:100%}
.two-1200>*{width:50%}
.three-1200>*{width:33.33333%}
.four-1200>*{width:25%}
.five-1200>*{width:20%}
.six-1200>*{width:16.66666%}
.seven-1200>*{width:14.28571%}
.eight-1200>*{width:12.5%}
.nine-1200>*{width:11.11111%}
.ten-1200>*{width:10%}
.eleven-1200>*{width:9.09091%}
.twelve-1200>*{width:8.33333%}
}
@media all and (min-width:1300px){
.one-1300>*{width:100%}
.two-1300>*{width:50%}
.three-1300>*{width:33.33333%}
.four-1300>*{width:25%}
.five-1300>*{width:20%}
.six-1300>*{width:16.66666%}
.seven-1300>*{width:14.28571%}
.eight-1300>*{width:12.5%}
.nine-1300>*{width:11.11111%}
.ten-1300>*{width:10%}
.eleven-1300>*{width:9.09091%}
.twelve-1300>*{width:8.33333%}
}
@media all and (min-width:1400px){
.one-1400>*{width:100%}
.two-1400>*{width:50%}
.three-1400>*{width:33.33333%}
.four-1400>*{width:25%}
.five-1400>*{width:20%}
.six-1400>*{width:16.66666%}
.seven-1400>*{width:14.28571%}
.eight-1400>*{width:12.5%}
.nine-1400>*{width:11.11111%}
.ten-1400>*{width:10%}
.eleven-1400>*{width:9.09091%}
.twelve-1400>*{width:8.33333%}
}
@media all and (min-width:1500px){
.one-1500>*{width:100%}
.two-1500>*{width:50%}
.three-1500>*{width:33.33333%}
.four-1500>*{width:25%}
.five-1500>*{width:20%}
.six-1500>*{width:16.66666%}
.seven-1500>*{width:14.28571%}
.eight-1500>*{width:12.5%}
.nine-1500>*{width:11.11111%}
.ten-1500>*{width:10%}
.eleven-1500>*{width:9.09091%}
.twelve-1500>*{width:8.33333%}
}
@media all and (min-width:1600px){
.one-1600>*{width:100%}
.two-1600>*{width:50%}
.three-1600>*{width:33.33333%}
.four-1600>*{width:25%}
.five-1600>*{width:20%}
.six-1600>*{width:16.66666%}
.seven-1600>*{width:14.28571%}
.eight-1600>*{width:12.5%}
.nine-1600>*{width:11.11111%}
.ten-1600>*{width:10%}
.eleven-1600>*{width:9.09091%}
.twelve-1600>*{width:8.33333%}
}
@media all and (min-width:1700px){
.one-1700>*{width:100%}
.two-1700>*{width:50%}
.three-1700>*{width:33.33333%}
.four-1700>*{width:25%}
.five-1700>*{width:20%}
.six-1700>*{width:16.66666%}
.seven-1700>*{width:14.28571%}
.eight-1700>*{width:12.5%}
.nine-1700>*{width:11.11111%}
.ten-1700>*{width:10%}
.eleven-1700>*{width:9.09091%}
.twelve-1700>*{width:8.33333%}
}
@media all and (min-width:1800px){
.one-1800>*{width:100%}
.two-1800>*{width:50%}
.three-1800>*{width:33.33333%}
.four-1800>*{width:25%}
.five-1800>*{width:20%}
.six-1800>*{width:16.66666%}
.seven-1800>*{width:14.28571%}
.eight-1800>*{width:12.5%}
.nine-1800>*{width:11.11111%}
.ten-1800>*{width:10%}
.eleven-1800>*{width:9.09091%}
.twelve-1800>*{width:8.33333%}
}
@media all and (min-width:1900px){
.one-1900>*{width:100%}
.two-1900>*{width:50%}
.three-1900>*{width:33.33333%}
.four-1900>*{width:25%}
.five-1900>*{width:20%}
.six-1900>*{width:16.66666%}
.seven-1900>*{width:14.28571%}
.eight-1900>*{width:12.5%}
.nine-1900>*{width:11.11111%}
.ten-1900>*{width:10%}
.eleven-1900>*{width:9.09091%}
.twelve-1900>*{width:8.33333%}
}
@media all and (min-width:2000px){
.one-2000>*{width:100%}
.two-2000>*{width:50%}
.three-2000>*{width:33.33333%}
.four-2000>*{width:25%}
.five-2000>*{width:20%}
.six-2000>*{width:16.66666%}
.seven-2000>*{width:14.28571%}
.eight-2000>*{width:12.5%}
.nine-2000>*{width:11.11111%}
.ten-2000>*{width:10%}
.eleven-2000>*{width:9.09091%}
.twelve-2000>*{width:8.33333%}
}
.full{width:100%}
.half{width:50%}
.third{width:33.33333%}
.two-third{width:66.66666%}
.fourth{width:25%}
.three-fourth{width:75%}
.fifth{width:20%}
.two-fifth{width:40%}
.three-fifth{width:60%}
.four-fifth{width:80%}
.sixth{width:16.66666%}
.none{display:none}
@media all and (min-width:500px){
.full-500{width:100%;display:block}
.half-500{width:50%;display:block}
.third-500{width:33.33333%;display:block}
.two-third-500{width:66.66666%;display:block}
.fourth-500{width:25%;display:block}
.three-fourth-500{width:75%;display:block}
.fifth-500{width:20%;display:block}
.two-fifth-500{width:40%;display:block}
.three-fifth-500{width:60%;display:block}
.four-fifth-500{width:80%;display:block}
.sixth-500{width:16.66666%;display:block}
}
@media all and (min-width:600px){
.full-600{width:100%;display:block}
.half-600{width:50%;display:block}
.third-600{width:33.33333%;display:block}
.two-third-600{width:66.66666%;display:block}
.fourth-600{width:25%;display:block}
.three-fourth-600{width:75%;display:block}
.fifth-600{width:20%;display:block}
.two-fifth-600{width:40%;display:block}
.three-fifth-600{width:60%;display:block}
.four-fifth-600{width:80%;display:block}
.sixth-600{width:16.66666%;display:block}
}
@media all and (min-width:700px){
.full-700{width:100%;display:block}
.half-700{width:50%;display:block}
.third-700{width:33.33333%;display:block}
.two-third-700{width:66.66666%;display:block}
.fourth-700{width:25%;display:block}
.three-fourth-700{width:75%;display:block}
.fifth-700{width:20%;display:block}
.two-fifth-700{width:40%;display:block}
.three-fifth-700{width:60%;display:block}
.four-fifth-700{width:80%;display:block}
.sixth-700{width:16.66666%;display:block}
}
@media all and (min-width:800px){
.full-800{width:100%;display:block}
.half-800{width:50%;display:block}
.third-800{width:33.33333%;display:block}
.two-third-800{width:66.66666%;display:block}
.fourth-800{width:25%;display:block}
.three-fourth-800{width:75%;display:block}
.fifth-800{width:20%;display:block}
.two-fifth-800{width:40%;display:block}
.three-fifth-800{width:60%;display:block}
.four-fifth-800{width:80%;display:block}
.sixth-800{width:16.66666%;display:block}
}
@media all and (min-width:900px){
.full-900{width:100%;display:block}
.half-900{width:50%;display:block}
.third-900{width:33.33333%;display:block}
.two-third-900{width:66.66666%;display:block}
.fourth-900{width:25%;display:block}
.three-fourth-900{width:75%;display:block}
.fifth-900{width:20%;display:block}
.two-fifth-900{width:40%;display:block}
.three-fifth-900{width:60%;display:block}
.four-fifth-900{width:80%;display:block}
.sixth-900{width:16.66666%;display:block}
}
@media all and (min-width:1000px){
.full-1000{width:100%;display:block}
.half-1000{width:50%;display:block}
.third-1000{width:33.33333%;display:block}
.two-third-1000{width:66.66666%;display:block}
.fourth-1000{width:25%;display:block}
.three-fourth-1000{width:75%;display:block}
.fifth-1000{width:20%;display:block}
.two-fifth-1000{width:40%;display:block}
.three-fifth-1000{width:60%;display:block}
.four-fifth-1000{width:80%;display:block}
.sixth-1000{width:16.66666%;display:block}
}
@media all and (min-width:1100px){
.full-1100{width:100%;display:block}
.half-1100{width:50%;display:block}
.third-1100{width:33.33333%;display:block}
.two-third-1100{width:66.66666%;display:block}
.fourth-1100{width:25%;display:block}
.three-fourth-1100{width:75%;display:block}
.fifth-1100{width:20%;display:block}
.two-fifth-1100{width:40%;display:block}
.three-fifth-1100{width:60%;display:block}
.four-fifth-1100{width:80%;display:block}
.sixth-1100{width:16.66666%;display:block}
}
@media all and (min-width:1200px){
.full-1200{width:100%;display:block}
.half-1200{width:50%;display:block}
.third-1200{width:33.33333%;display:block}
.two-third-1200{width:66.66666%;display:block}
.fourth-1200{width:25%;display:block}
.three-fourth-1200{width:75%;display:block}
.fifth-1200{width:20%;display:block}
.two-fifth-1200{width:40%;display:block}
.three-fifth-1200{width:60%;display:block}
.four-fifth-1200{width:80%;display:block}
.sixth-1200{width:16.66666%;display:block}
}
@media all and (min-width:1300px){
.full-1300{width:100%;display:block}
.half-1300{width:50%;display:block}
.third-1300{width:33.33333%;display:block}
.two-third-1300{width:66.66666%;display:block}
.fourth-1300{width:25%;display:block}
.three-fourth-1300{width:75%;display:block}
.fifth-1300{width:20%;display:block}
.two-fifth-1300{width:40%;display:block}
.three-fifth-1300{width:60%;display:block}
.four-fifth-1300{width:80%;display:block}
.sixth-1300{width:16.66666%;display:block}
}
@media all and (min-width:1400px){
.full-1400{width:100%;display:block}
.half-1400{width:50%;display:block}
.third-1400{width:33.33333%;display:block}
.two-third-1400{width:66.66666%;display:block}
.fourth-1400{width:25%;display:block}
.three-fourth-1400{width:75%;display:block}
.fifth-1400{width:20%;display:block}
.two-fifth-1400{width:40%;display:block}
.three-fifth-1400{width:60%;display:block}
.four-fifth-1400{width:80%;display:block}
.sixth-1400{width:16.66666%;display:block}
}
@media all and (min-width:1500px){
.full-1500{width:100%;display:block}
.half-1500{width:50%;display:block}
.third-1500{width:33.33333%;display:block}
.two-third-1500{width:66.66666%;display:block}
.fourth-1500{width:25%;display:block}
.three-fourth-1500{width:75%;display:block}
.fifth-1500{width:20%;display:block}
.two-fifth-1500{width:40%;display:block}
.three-fifth-1500{width:60%;display:block}
.four-fifth-1500{width:80%;display:block}
.sixth-1500{width:16.66666%;display:block}
}
@media all and (min-width:1600px){
.full-1600{width:100%;display:block}
.half-1600{width:50%;display:block}
.third-1600{width:33.33333%;display:block}
.two-third-1600{width:66.66666%;display:block}
.fourth-1600{width:25%;display:block}
.three-fourth-1600{width:75%;display:block}
.fifth-1600{width:20%;display:block}
.two-fifth-1600{width:40%;display:block}
.three-fifth-1600{width:60%;display:block}
.four-fifth-1600{width:80%;display:block}
.sixth-1600{width:16.66666%;display:block}
}
@media all and (min-width:1700px){
.full-1700{width:100%;display:block}
.half-1700{width:50%;display:block}
.third-1700{width:33.33333%;display:block}
.two-third-1700{width:66.66666%;display:block}
.fourth-1700{width:25%;display:block}
.three-fourth-1700{width:75%;display:block}
.fifth-1700{width:20%;display:block}
.two-fifth-1700{width:40%;display:block}
.three-fifth-1700{width:60%;display:block}
.four-fifth-1700{width:80%;display:block}
.sixth-1700{width:16.66666%;display:block}
}
@media all and (min-width:1800px){
.full-1800{width:100%;display:block}
.half-1800{width:50%;display:block}
.third-1800{width:33.33333%;display:block}
.two-third-1800{width:66.66666%;display:block}
.fourth-1800{width:25%;display:block}
.three-fourth-1800{width:75%;display:block}
.fifth-1800{width:20%;display:block}
.two-fifth-1800{width:40%;display:block}
.three-fifth-1800{width:60%;display:block}
.four-fifth-1800{width:80%;display:block}
.sixth-1800{width:16.66666%;display:block}
}
@media all and (min-width:1900px){
.full-1900{width:100%;display:block}
.half-1900{width:50%;display:block}
.third-1900{width:33.33333%;display:block}
.two-third-1900{width:66.66666%;display:block}
.fourth-1900{width:25%;display:block}
.three-fourth-1900{width:75%;display:block}
.fifth-1900{width:20%;display:block}
.two-fifth-1900{width:40%;display:block}
.three-fifth-1900{width:60%;display:block}
.four-fifth-1900{width:80%;display:block}
.sixth-1900{width:16.66666%;display:block}
}
@media all and (min-width:2000px){
.full-2000{width:100%;display:block}
.half-2000{width:50%;display:block}
.third-2000{width:33.33333%;display:block}
.two-third-2000{width:66.66666%;display:block}
.fourth-2000{width:25%;display:block}
.three-fourth-2000{width:75%;display:block}
.fifth-2000{width:20%;display:block}
.two-fifth-2000{width:40%;display:block}
.three-fifth-2000{width:60%;display:block}
.four-fifth-2000{width:80%;display:block}
.sixth-2000{width:16.66666%;display:block}
}

.breadcrumb{text-align: left; padding: 18px 15px 21px;}
div.gallery > div{align-items: center;}
div.gallery img{max-width: 100%; border-radius: 5px;}
div.faq div div :first-child{font-weight: bold;}
div.attr{margin: 1em 0; font-size: .9em;display: flex;}
div.attr>div{flex: 1;}
div.attr>div>div{display: flex;flex-wrap: wrap;}
div.attr>div>div>div{padding: .4em; margin: .1em; font-size:.9em;}
div.attr>div>div>:nth-child(odd){flex:80px 1;font-weight: bold; background-color: #f4f4f4;}
div.attr>div>div>:nth-child(even){flex:4; background-color: #fafafa;}

.comment{background-color:#fff;border-radius: 5px; box-shadow: 0 2px 2px rgba(0,0,0,.1);padding: 1em;margin-bottom: 1em;display: flex;}
.comment .aside{flex:0 0 20%}
.comment-form{border: 2px dashed #ddd;padding: 1em;border-radius: 10px;margin-bottom: 1em; background-color: #f4f4f4;}
.comment .name{font-weight: bold;}
input,textarea{border: 0;border: 1px solid #ccc;}
input:focus,textarea:focus{border: 1px solid #ccc;}
.alert{padding: 1em;border:1px solid #ccc;border-radius: 5px;padding-left: 6em !important;}
.alert-danger{background-color: #ff4136;color: #fff;border: none;}
.alert-success{background-color: #50ff36;color: #111;border: none;}
.image-style-align-center{text-align:center;max-width:50%;margin-left:auto;margin-right:auto}
.image-style-align-right{float:right}
.image-style-align-left{float:left}
figure.image{display:table;clear:both;text-align:center;margin:auto}
figure.image>img{max-width:100%;margin:0 auto;display:block;height:auto}

table ,tr,td{border:none !important}
input[type=text]{width: 100%;border: 1px solid #ccc;}
.alert:before{font-size: 2em; left: 1em;}


nav ul{list-style:none;margin:0}
nav ul li{display:inline-block;position:relative;margin:0;}
nav li a{padding:15px 10px 15px 20px;display:block}
nav li li{display:block}
nav ul>li.parent>a::after{position:absolute;display:inline-block;content:'';background-image:url(img/arrow-down.png);margin-right:.5em;width:8px;height:8px;top:2em;background-size:.5em;background-repeat:no-repeat}
nav ul li.parent>div{display:none}
nav li li a{color:#33354c!important;width:100%;padding:1em 2em!important;white-space:nowrap;display:block!important;border-bottom:3px solid rgba(0,0,0,0)!important;text-align:right;transition:all .3s!important;font-size:.9em!important}
nav li li a:hover{color:#1e2135!important;font-weight:700;transform:scale(1.05)}
nav li ul{display:none;padding:0;position:absolute;background-color:#fff;box-shadow:1px 0 20px rgba(0,0,0,.12)}
nav li ul ul{left:100%}
nav ul li:hover ul{display:block}
@media all and (max-width:60em){
    ul>li.parent a::after{display:none}
    ul li.parent>div{display:block;background:0 0;position:absolute;left:10px;top:15px;outline:0;z-index:999999}
}
.mb-1{margin-bottom: 1em;}
.mt-1{margin-top: 1em;}
.mt-2{margin-top: 2em;}
.pb-1{padding-bottom: 1em;}
.pt-1{padding-top: 1em;}

.home-form{position: absolute; right:11em; top: 30%; width: 400px; background: rgba(0,93,101,.8); z-index: 10; padding: 1em;color: #fff;}
.home-form div{display: flex; flex-flow:column wrap; justify-content: left; align-items: flex-start;}
.home-form label{color:#fff; font-size: 1.3em; font-weight: bold; margin-right: 1em;}
.home-form input{margin-top:1em; margin-bottom: 1em;}
.home-form select{width: 100%; margin-top:1em; margin-bottom: 1em;}
.home-form div.chzn-container-single .chzn-single{width: 100%;}
.home-form button{padding: .8em 3em !important;}
.home-form .chzn-results{width: 100%;}
@media (max-width:800px){
    .home-form{right: 5em;top:2em;}
}

@media (max-width:700px){
    .home-form{ position: unset; float: left; width: 100%; }
}
.logo{padding: 0;}
.logo a{height: 60px; display: block;}
.logo a img{object-fit: contain; height: 100%; }
.mainnav-position{border: none; background-color: #2a5d65; color: #fff;}
.t3-mainnav .t3-navbar-collapse .navbar-nav li > a{color: #fff; font-size: 16px;}
.stuck-container.scroll-to-fixed-fixed{background-color: #2a5d65; color: #fff;}
.menu-button{margin-top: 11px; background: none; border:2px solid #fff;}
.t3-wrapper nav#t3-mainnav .navbar-header .navbar-toggle{color: #333;}
