.banner-left>div{height:190px}
figure{height:100%;width:100%}
.banner-left img{height:100%!important;width:100%;border-radius:20px;object-fit:cover}
.slideshow-container{position:relative}
.mySlides{display:none;height:100%;position:relative}
.mySlides img{object-fit:cover;height:100%!important;border-radius:20px;width:100%!important}
.next,.prev{cursor:pointer;position:absolute;top:50%;width:auto;padding:15px 16px;margin-top:-22px;color:#fff;font-weight:700;font-size:18px;transition:.6s ease;border-radius:0 5px 5px 0;user-select:none;text-shadow:0 2px 1px rgba(0,0,0,.5);user-select:none}
.next{right:0;border-radius:5px 0 0 5px}
.next:hover,.prev:hover{background-color:rgba(255,255,255,.4)}
.text{color:#f2f2f2;background:rgba(0,0,0,.6);font-size:15px;padding:3px 12px 3px 5em;position:absolute;bottom:15px;right:0;text-align:center;background:rgba(0,0,0,.6);border-radius:50px 0 0 50px}
.active,.dot:hover{background-color:#717171}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;animation-duration:1.5s}
@-webkit-keyframes fade{
from{opacity:.4}
to{opacity:1}
}
@keyframes fade{
from{opacity:.4}
to{opacity:1}
}
@media only screen and (max-width:500px){
.banner-left{display:none}
}
@media only screen and (max-width:300px){
.next,.prev,.text{font-size:11px}
}
@media only screen and (max-width:1210px){
.mySlides{height:100%}
}
.category-section{position:relative}
.category-section img{height:40px!important;width:40px}
.category-section h3{font-size:.9em}
.category-section .next2,.category-section .prev2{position:absolute;width:auto;background:rgba(0,0,0,.05);padding:0 .5em;color:#717171;font-size:23px;font-weight:700;cursor:pointer;top:43px;user-select:none}
.category-section .next2{left:0;border-radius:0 5px 5px 0}
.category-section .prev2{right:0;border-radius:5px 0 0 5px}
.info{height:200px;overflow:hidden;width:100%;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.info p{display: inline-block;}
.application article{min-height: auto;}
